# --- Python cache ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
build/
dist/
pip-wheel-metadata/

# --- Entornos/variables ---
venv/
.env
.env.*

# --- Jupyter ---
.ipynb_checkpoints/
# Mantener todos los notebooks
!*.ipynb

# --- SO/IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Data ---
# Ignorar todo dentro de data...
data/**
# ...menos el dataset principal
!data/All_Sites_Times_Daily_Averages_AOD20.csv

# --- Comprimidos (no críticos para versionar) ---
*.zip
*.7z
*.rar
*.tar
*.gz
*.bz2
*.xz

# --- Shapefiles (si aparecen fuera de /data) ---
*.shp
*.dbf
*.shx
*.prj